.button {
  width: 80%;
  height: 80rpx;
  margin: 50rpx auto;
  background-color: #7076fe;
  color: #FFFFFF;
  font-size: 36rpx;
  border-radius: 40rpx;
  line-height: 80rpx;
  text-align: center;
}

.topbar-icon {
	height: 45rpx;
	width: 45rpx;
	background-size: cover;
}

.content-box {
		width: 100%;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/*align-items: center;*/
		flex-grow: 1;
	}

.topbar-shortcut {
	margin-right: 20rpx;
	color: #6f75fe;
	font-size: 36rpx;
}

.popup {
	background-color: #fff;
	padding: 10%;
}

.image {
	width: 100%;
	height: 750rpx;
}

$bottom-border: #e5e5e5 2rpx solid;
