.button {
  width: 100%;
  height: 80rpx;
  margin: 50rpx auto;
  background-color: #7076fe;
  color: #FFFFFF;
  font-size: 40rpx;
  border-radius: 40rpx;
  line-height: 80rpx;
  text-align: center;
}

.container {
		width: 100%;
		/* height: 1000rpx; */
		background-color: #f3f3f3;
		position: relative;
		display: flex;
		flex-direction: column;
}